
<mat-toolbar color="primary">
    <span class="spacer-flex"></span>
    <button (click)="close()" mat-icon-button matTooltip="Close window and save.">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div style="display: flex; margin-top: 5px;">
<div id="popUpMap" ></div>
<div [style.margin-left]="'20px'" [style.width]="'200px'">
    <div *ngFor="let location of locations; let i = index">
        <input type="text" [(ngModel)]="location.location" #name="ngModel" name="value{{i}}">
        <button (click)="removeLocation(i)" mat-mini-fab color="primary" matTooltip="Add location">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <button (click)="addLocation()" mat-mini-fab color="primary" matTooltip="Add location">
        <mat-icon>add</mat-icon>
    </button>
</div>
</div>
